@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 20px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/media/images/mcc_bglr.png" style="width:100%; height: 500px;">
        </div>

        <div class="item">
            <img src="~/Content/media/images/block3.jpg" style="width:100%; height: 500px;">
        </div>

        <div class="item">
            <img src="~/Content/media/images/block5.jpg" style="width:100%; height: 500px;">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@*<div id="splash"></div>*@

<div id="content" style="width: 70%; padding-right: 30px; padding-left: 0px; margin-left: 0px;">
    <div class="post">
        <div class="entry">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6681767534933!2d77.58684231389653!3d12.993062690841812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae179620449ef1%3A0xcd85eb0493218d2a!2sMount%20Carmel%20College!5e0!3m2!1sen!2suk!4v1568375038191!5m2!1sen!2suk" width="90%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>       
    </div>
    
    <div style="clear: both;">&nbsp;</div>
</div>

<div id="sidebar" style="width: 30%; padding-left: 30px;">
    <h2 style="font-family: 'Times New Roman', Times, serif; font-size: xx-large; color: #FF9900; font-weight: bold; margin-bottom: 20px;">
        Address
    </h2>
    <address style="font-family: 'Times New Roman', Times, serif; font-size: medium;">
        Mount Carmel College <br />
        # 58, Palace Road,<br />
        Vasanth Nagar, Bengaluru,<br />
        Karnataka, IN - 560052<br />
    </address>
    
    <address style="font-family: 'Times New Roman', Times, serif; color:black; font-size: medium;">
        <strong>Phone:</strong>   
            <a href="tel:+91-80-22286387" style="color:black; font-size: 14px;">+91-80-22286387</a><br />
            <span style="margin-left: 50px;">
                <a href="tel:+91-80-22261759" style="color:black; font-size: 14px;">+91-80-22261759</a>
            </span> 
            <br /><br />

        <strong>Email:</strong> 
            <a href="mailto:mca@mccblr.edu.in" style="color:black; font-size: 14px;">mca@mccblr.edu.in</a><br />
            <span style="margin-left: 50px;">
                <a href="mailto:mcc_mca_office@yahoo.co.in" style="color:black; font-size: 14px;">mcc_mca_office@yahoo.co.in</a>
            </span><br /><br />

        <strong>College Website:</strong> 
            <a href="https://mccblr.edu.in/" style="color:black; font-size: 14px;">mccblr.edu.in</a>

    </address>
</div>


